body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.header {
  color: #e7e9fc;
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  padding: 24px 0;
  padding: 0 15px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  width: 1158px;
  padding: 24px 0;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Navigation-end-contact */
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
  max-width: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-item {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
  padding-left: 332px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item {
  align-items: center;
  margin-right: 76px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
}

.item-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.item {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}
.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  border-radius: 2px;
}
.item:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  border-radius: 2px;
}

.item:hover {
  color: #404bbf;
}
.item:focus {
  color: #404bbf;
}
.item:active {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.link {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

/* section 1 */
.fon {
  background: var(--NAVY-BLUE, #2e2f42);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: auto;
  padding-right: auto;
  padding: 188px 0;
}

.title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.cnopca {
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: auto;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.cnopca:hover {
  background: var(--OCEAN, #404bbf);
}
.cnopca:focus {
  background-color: #404bbf;
}
.inscription {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.12px;
  display: block;
}

/* section 2 */
.flex {
  display: flex;
  gap: 24px;
}
.section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-icon {
  margin: 24px 100px;
}
.section-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-text {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-item {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-left: auto;
  max-width: auto;

  justify-content: flex-end;
}
.content {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* section 3 */
.ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ellipse:hover {
  background-color: #404bbf;
}
.ellipse:focus {
  background-color: #404bbf;
}
.svg {
  fill: #f4f4fd;
}

.user-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.posada {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-foto {
  display: flex;
  gap: 24px;
}

.fonfoto {
  background: var(--CLOUD, #f4f4fd);

  padding-top: 120px;
  padding-bottom: 120px;
}
.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.user {
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.user-img:hover {
  background: var(--WHITE, #fff);
}
.user-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.profession {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.fonfoto {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* section 4 */
.fonfototo {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fonfototo:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1, 28;
  letter-spacing: 0.02em;
  background-color: #3f51b5;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  line-height: 1.5;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-wraper:hover .overlay {
  transform: translateY(0);
}

.portfolio-wraper {
  position: relative;
  overflow: hidden;
}

.nazva {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-card {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  color: #e7e9fc;
  background: var(--WHITE, #fff);
}
.gallery-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.epp {
  color: #434455;
  background: var(--WHITE, #fff);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Futer */

.pos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pos:hover {
  background-color: #31d0aa;
}
.pos:focus {
  background-color: #31d0aa;
}
.futrcon {
  display: flex;
  align-items: baseline;
}
.logo-p {
  margin-right: 120px;
}
.mediazona {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.cas {
  gap: 16px;
}
.user-svg-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.media-paragraf {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.lod {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.lodg {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.para {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}
